[2018-02-23 23:45] ryanjulian opened #1 "Asynchronous plotting for TensorFlow"
## Task
Presently asynchronous plotting/3D rendering is not supported in the part of rllab based on TensorFlow (sandbox.rocky.tf), but it is supported in the rllab code which uses Theano.

This means that when you turn plotting on for a Theano training session, the plot does not block the training process. The TensorFlow implementation runs the rendering loop directly in the training algorithm (ra

[2018-02-26 23:59] ryanjulian opened #2 "Concatenate operation for Spaces"
This is a common use case which leads to a lot of unnecessary munging.

e.g.
[code]
Could just be
[code]

This will require some thought about how non-alike spaces interact, and should provide a feature for concatenating members of these spaces easily and consistent with this spec, once a space is described as a concatenation of other spaces.

[2018-02-28 00:16] ryanjulian opened #3 "Support for conditional distributions"
Given a Distribution(y|x), where x = [x_1, x_2, x_3] I should be able to define a conditional distributions Dist(y| x_1), Dist(y | [x_1, x_3]), Dist(y | x_2), etc.

[2018-02-28 21:20] ryanjulian opened #4 "Upgrade mujoco-py to 1.5+"
OpenAI maintains a python binding to the MuJoCo physics engine called [mujoco-py](https://github.com/openai/mujoco-py). This library is a major dependency to rllab. Currently rllab uses an old, custom version of mujoco-py (0.5.7). [This was done](https://github.com/rll/rllab/pull/191) to avoid fixing small API changes between version upgrades to mujoco-py, but has also lead to rllab drifting away

[2018-02-28 21:22] ryanjulian opened #5 "Bullet support"

[2018-02-28 21:23] ryanjulian opened #6 "Roboschool support"

[2018-02-28 21:23] ryanjulian opened #7 "Sawyer simulation support"

[2018-02-28 21:24] ryanjulian opened #8 "Sawyer runtime support"

[2018-02-28 21:24] ryanjulian opened #9 "Upgrade TensorFlow to 1.5.0+"
Not sure if there are breaking API changes.

[2018-02-28 21:24] ryanjulian opened #10 "TensorBoard integration"

[2018-02-28 21:25] ryanjulian opened #11 "Experiment with replacing Theano with PyTorch"

[2018-03-01 23:57] ryanjulian commented on #1
From Mohammad:

[2018-03-01 23:57] ryanjulian commented on #1
Full disclosure, I don't use the conda environment (though it is the default for rllab).

It looks to me like conda has installed the gpu version of tensorflow in your env, which will crash on CPU hosts without CUDA. We don't have a hard GPU dependency, but it looks like the rllab authors assumed you would have a GPU and want to use gpu-accelerated tensorflow.

You will need to change the environm

[2018-03-02 01:43] ryanjulian opened #13 "dm_control support"

[2018-03-04 00:58] raymoss commented on #1
Hi Ryan,
I have added commits with debug files in my repository at https://github.com/raymoss/rllab.git with branch debug.
There are 2 files namely plotter_bak.py and plotter_bak2.py
Plotter_bak.py contains the thread version of plotter
plotter_bak2.py contains the modified version of multiprocessing version.

Here are the issues that I am facing with the two files:
1. In thread implementation, we

[2018-03-04 21:01] ryanjulian commented on #4
Note that the manual installation from source right now is a bit of a crutch and adds a lot of complexity. It should be installed using conda/pip.

[2018-03-09 22:33] ryanjulian opened #15 "Add a Policy.fixed_length_trajectories property"
Currently this is proxied by Policy.recurrent, but there are loss functions for non-recurrent policies which need fixed-length input trajectories/valid variables (i.e. any time you want to differentiate through the loss function).

[2018-03-19 17:41] ryanjulian commented on #13
DeepMind have released a set of RL environments called [dm_control](https://github.com/deepmind/dm_control). We would like to use these enviroments in rllab.

This task is to add `dm_control` to the rllab `conda` environment, and implement a class (similar to `GymEnv`, e.g. `DmControlEnv`) which allows any rllab algorithm to learn against dm_control environments. You will also need to implement th

[2018-03-19 23:03] ryanjulian commented on #5
We would like to add support for the [Bullet physics engine](https://github.com/bulletphysics/bullet3) to rllab. Thankfully, the Bullet team have recently provided Python bindings in the form of pybullet, and even provides [examples](https://github.com/bulletphysics/bullet3/tree/2.87/examples/pybullet/gym/pybullet_envs) of how to implement the `gym.Env` interface (from OpenAI Gym) using pyBullet.

[2018-03-20 18:34] ryanjulian opened #17 "Update Theano to 1.0.0"

[2018-03-20 18:35] ryanjulian commented on #10
openai/baselines has a nice starting point

[2018-03-20 18:35] ryanjulian opened #18 "Explore integration with openai/baselines"

[2018-03-21 18:46] ryanjulian opened #19 "Fix use_gpu in the TF tree"
If I specify use_gpu=True in the TensorFlow tree, Theano crashes the process complaining about my nvcc version. This is correct behavior in the Theano tree, but users of the TF tree should not see this error.

[2018-03-21 20:11] Anirudhkashi commented on #5
So, if I understand this correctly,
PR 1) Add pybullet to environment.yml, create a BulletEnv class similar to GymEnv, add examples of existing environments in examples folder.
PR 2) Modifying GymEnv to accept env class object, instead of the string.

[2018-03-21 20:47] ryanjulian commented on #5
You decide. The goal is to enable Bullet support. Try it out and see what works and makes sense.

As I noted above, since Bullet implements the Gym interface, a lot of the GymEnv code is probably reusable to achieve this, but it might require some modification. If you modify GymEnv, you still need to keep your changes backwards-compatible with the rest of rllab (and test the backwards compatibilit

[2018-03-22 16:48] ryanjulian commented on #13
From Junchao

[2018-03-22 17:03] ryanjulian commented on #13
I've never used pyglet before, but I have a theory.

dm_control renders its frames in an off-screen OpenGL context. So it has a hidden OpenGL window and returns the rendered pixels from that.

pyglet also uses OpenGL. Your Window has an associated OpenGL Context.

OpenGL has the notion of a rendering context. In OpenGL, only one rendering context can be active at once on the system. In order to re

[2018-03-22 17:36] ryanjulian commented on #13
Here is relevant code in dm_control

https://github.com/deepmind/dm_control/blob/master/dm_control/render/glfw_renderer.py#L65
https://github.com/deepmind/dm_control/blob/master/dm_control/mujoco/engine.py#L406
https://github.com/deepmind/dm_control/blob/master/dm_control/mujoco/engine.py#L412
https://github.com/deepmind/dm_control/blob/master/dm_control/mujoco/engine.py#L560

It seems to me that

[2018-03-22 23:11] cjcchen commented on #13
I use pygame instand and it works. Thanks for help.

However, I get some trouble building the rllab project. When I import the env.base, some files seem to be missing.

![image](https://user-images.githubusercontent.com/3771438/37803278-2105feaa-2deb-11e8-857a-072e224e2d6c.png)

The base.py will import cached_property, but I could not find this file or directory.

Is there any file missing?

[2018-03-23 00:30] ryanjulian commented on #13
Did you setup rllab using conda, as described [here](https://rllab.readthedocs.io/en/latest/user/installation.html)? It is difficult get all the dependencies right using pip.

[2018-03-23 02:21] cjcchen commented on #13
Sorry, my mistake. I though it was a library of rllab.
I am using conda, but this library actually was not installed. I have used pip to install it correctly.

[2018-03-23 02:55] cjcchen commented on #13
It seems all is done. Should I push my code to the integration repository and you can have a review?
But it seems that I have no permission for this repository.

[2018-03-23 03:01] ryanjulian commented on #13
That is really odd. It should definitely have been installed per [environment.yml](https://github.com/ryanjulian/rllab/blob/integration/environment.yml#L42)

Can you file an issue with steps to reproduce?

From above:

For example, in [trpo_gym_tf_cartpole.py](https://github.com/ryanjulian/rllab/blob/integration/examples/trpo_gym_tf_cartpole.py) I should be able to replace
[code]
 with
[code]
and

[2018-03-23 04:58] cjcchen commented on #13
Thanks, it is a good case to check.
And I found a problem when I use normalize class.

The normalize class uses the flat_dim and shape to normalize the data.
For gym, the observation and action have their own space, an discrete array or a metrix box.
However, for dm_control, the observation space consists of three array(position, velocity, rgb), and the action space is an array with min-max value.

[2018-03-23 07:01] ryanjulian commented on #13
Remember that the interface you are implementing is the rllab.envs.base.Env interface, not the gym.Env interface. Take a look at other classes implementing rllab.envs.base.Env. There are many of them. Most of them use spaces.Box for observation and action spaces. Take a look at how they use spaces.

rllab has no notion of labeled subspaces like dm_control does, so it's sufficient to just concatena

[2018-03-23 19:36] ryanjulian commented on #13
Did that answer your question?

[2018-03-23 20:15] cjcchen commented on #13
Yes, I do have checked some other env codes. The other env hard code the observation space dim except for the Gym. I think Gym is much similar with dm_control, so I just gave an example.

Since I think the observation space is used for training, I am not sure which type of data it should be returned. I just want to make sure that the algorithm is correct and do not raise some ambiguous meaning.

N

[2018-03-24 00:11] cjcchen commented on #13
I have pushed a pull request, please have a check.

[2018-03-24 03:09] Anirudhkashi commented on #5
Here are the changes I have made as of now: [Diff](https://github.com/ryanjulian/rllab/compare/integration...Anirudhkashi:pybulletsupport).
1) I have added the `pybullet` to conda env, increased OpenAI gym version.
2) Have provided a way to register any class into the pybullet env: `BulletEnv`
3) Have added an example `trpo_bullet_kuka.py` in `examples` folder.

Have not added the `tf` version yet

[2018-03-25 19:21] ryanjulian commented on #5
Please create a pull request so I can leave comments!

On Fri, Mar 23, 2018 at 8:09 PM Anirudh Kashi <notifications@github.com>
wrote:

--
PhD Student
USC CLMC/RESL
(510) 859-3224
rjulian@usc.edu

[2018-03-25 19:36] ryanjulian commented on #5
See my comments here.
https://github.com/ryanjulian/rllab/pull/22#pullrequestreview-106740459

On Sun, Mar 25, 2018 at 12:21 PM Ryan Julian <rjulian@usc.edu> wrote:

--
PhD Student
USC CLMC/RESL
(510) 859-3224
rjulian@usc.edu

[2018-03-25 20:19] Anirudhkashi commented on #5
Okay, I will send the PR after I make these changes. I have added few questions for required clarifications on the comments.
[Review](https://github.com/ryanjulian/rllab/pull/22#pullrequestreview-106740459)

[2018-03-26 22:27] ryanjulian commented on #10
The goal is to allow rllab users to use TensorBoard to view the progress of their training algorithms.

https://github.com/openai/baselines/blob/master/baselines/logger.py implements the same feature.

https://github.com/ryanjulian/rllab/blob/integration/rllab/misc/logger.py#L198 already dumps all of the logged key-value (tabular) parameters to a CSV. For TensorBoard, we'd also need to log all the

[2018-03-27 16:37] ryanjulian opened #26 "DDPG for TensorFlow"
Original paper:
https://arxiv.org/abs/1509.02971

Implementation in the Theano tree:
https://github.com/ryanjulian/rllab/blob/integration/rllab/algos/ddpg.py

OpenAI baselines implementation:
https://github.com/openai/baselines/tree/master/baselines/ddpg

blog post (there are many other resources
http://pemami4911.github.io/blog/2016/08/21/ddpg-rl.html

Sketch:
* Provide an implementation in sandb

[2018-03-27 20:19] ryanjulian opened #27 "singleton_pool should guard against class methods"
the order of arguments used by singleton_pool is not enforced by the module (or well-documented). I think in most cases this will lead to a loud failure anyway.

However, if you attempt to use a class method (e.g. `def foo(self, a, b, c)`) as a worker method, singleton_pool will pass `G` for the self argument. this leads to single failure/lock-up.

[2018-03-28 00:15] cjcchen commented on #10
Could I import tensorflow in OpenAI directly?

[2018-03-28 01:01] ryanjulian commented on #10
You can import tensorflow in rllab directly.

[2018-03-28 01:08] ryanjulian commented on #27
fixed in https://github.com/ryanjulian/rllab/pull/29

[2018-03-28 01:08] #27 closed, assigned to nobody

[2018-03-28 01:09] ryanjulian opened #31 "GymEnv should not show a plot when plot=False"

[2018-03-28 20:28] ryanjulian opened #32 "Make spaces.Product work in TF"

[2018-03-29 16:55] ryanjulian opened #34 "conda build regression test"

[2018-03-29 16:57] ryanjulian opened #35 "dm_control regression test"

[2018-03-29 17:06] ryanjulian opened #36 "convenience imports in __init__"

[2018-03-29 19:14] ryanjulian opened #37 "viskit deprecation warning"

[2018-03-29 19:32] ryanjulian opened #38 "Save TensorFlow graph for tensorboard"

[2018-03-30 23:53] ryanjulian opened #39 "Support for tensor logging to tensorboard"

[2018-03-31 03:52] ryanjulian commented on #10
This seems broken on my end. Can you do a verification test with an algorithm and make sure it's still logging? I get no log files.

[2018-03-31 04:01] ryanjulian commented on #10
Never mind, fixed in https://github.com/ryanjulian/rllab/commit/1f18b744ea8e623c4e3b47eb2df6dfe1b025586c

[2018-03-31 04:01] #10 closed, assigned to cjcchen

[2018-04-02 16:22] ryanjulian opened #42 "Get rid of layers library in the TensorFlow tree"
This is largely superseded by `tf.nn`, and it adds another unnecessary layer of complexity--it would be easier to understand if primitives were just written in pure TF.

[2018-04-03 16:27] ryanjulian opened #43 "Add tf.variable_scope to all sym operations in the TF tree"
This will make the TF graph display much easier to read, with no user effort.

[2018-04-03 22:20] ryanjulian opened #44 "Support std_share_network in all GaussianMLP* classes"
The `std_share_network ` is in the classes but is not used. Setting it to `True` should give a policy with a single MLP estimating gaussian parameters: the the output dim of the MLP is 2*output_dim of the Gaussian. The first `output_dim` parameters are the mean params, and the second `output_dim` params are the log_std params.

[2018-04-10 16:32] ryanjulian commented on #4
See https://github.com/openai/gym/issues/638

[2018-04-12 21:21] ryanjulian opened #50 "DQN for TensorFlow"
Original paper:
https://storage.googleapis.com/deepmind-media/dqn/DQNNaturePaper.pdf

OpenAI baselines implementation:
https://github.com/openai/baselines/tree/master/baselines/deepq

(There are many more resources on Google with DQN implementations in TF)

Sketch:
* Provide an implementation in sandbox/rocky/tf/dqn.py
* Add any needed primitives to rllab/ and sandbox/rocky/tf/
* Provide a regress

[2018-04-12 21:22] ryanjulian commented on #50
Make sure that you share code with the implementation of #26

[2018-04-12 21:54] ryanjulian commented on #11
See https://github.com/vitchyr/rlkit

[2018-04-15 20:54] ryanjulian opened #52 "Try replacing Distributions with tf.Distributions"

[2018-04-25 23:07] eric-heiden opened #54 "Add TensorBoard histogram support for distributions"
Provide an interface to log distributions as histograms in TensorBoard, e.g. Gaussians characterized solely by mean and std.
https://www.tensorflow.org/programmers_guide/tensorboard_histograms

The default number of samples could be 1000.

The functions could look like this:
[code]

[2018-04-26 18:24] jonashen commented on #4
Let me know if my [pull request](https://github.com/ryanjulian/rllab/pull/55) has any issues.

[2018-04-27 20:15] zhanpenghe opened #56 "Dependencies cleanup"

[2018-05-01 22:06] zhanpenghe commented on #9
I think it is better if we can get tensorflow-gpu and cpu version synchronized and make priority for gpu. Currently the tensorflow-gpu version is 1.0.1 and the tensorflow cpu version is 1.8.0. When we import tensorflow, i think python just import the higher version so gpu will never get to work for now.

[2018-05-01 22:13] ryanjulian commented on #9
Yes definitely. CPU and GPU version should be synchronized. GPU should have priority, but some systems have only CPU (and we need to support that).

[2018-05-01 22:31] zhanpenghe commented on #31
I have investigated this before and I think the problem is the video recorder for gym environment.
`class GymEnv(Env, Serializable):
    def __init__(self, env_name, record_video=True, video_schedule=None, log_dir=None, record_log=True,`

A quick fix could be setting the default value of record_video to False and the plot will not show up.
I am not sure if tensoflow allows recording video without

[2018-05-01 22:34] ryanjulian commented on #31
Hmm sounds good. I think we should preserve the invariant that `record_video=True` will successfully record a video (even if that means ignoring `plot=False`). The ideal is for gym to record off-screen, but I'm not sure that's supported.

[2018-05-02 19:18] ghost commented on #9
Doing a quick package search I found that version 1.8 is available for both CPU and GPU releases:
![tf_versions](https://user-images.githubusercontent.com/35857569/39544204-2ecb8320-4e02-11e8-96e0-3c053fca3464.PNG)
I will update the GPU package to 1.8 in my working area to verify nothing gets broken. @ryanjulian @zhanpenghe, are there any specific tests I should run?

[2018-05-13 00:47] eric-heiden commented on #52
To add some details: [Distributions](https://github.com/ryanjulian/rllab/tree/integration/sandbox/rocky/tf/distributions) are used by policies and other modules to add distribution functionality, such as computing the KL divergence between two distributions etc. given the parameters of a distribution (which are often output tensors of an NN). [TF.Distributions](https://www.tensorflow.org/api_docs/

[2018-05-14 20:16] ryanjulian commented on #43
A sym operation is a symbolic operation (i.e. it uses TensorFlow operations on the abstract computation graph, not numpy or Python operations on concrete numbers).

For instance, GaussianMLPPolicy.dist_info_sym() is a symbolic operation.

tf.variable_scope() tells TensorFlow that a series of operations is named in a particular way. It helps make the computation graph easier to read by grouping the

[2018-05-15 16:50] ghost commented on #9
Closed with (#59)

[2018-05-15 16:50] #9 closed, assigned to nobody

[2018-05-15 16:50] ghost commented on #56
Closed with #60

[2018-05-15 16:55] ghost commented on #56
Change is still under review

[2018-05-15 22:07] #37 closed, assigned to nobody

[2018-05-15 22:09] ryanjulian commented on #37
Closed pending a decision on viskit's fate

[2018-05-15 22:10] ryanjulian commented on #32
This one should have an accompanying test.

[2018-05-15 22:15] ryanjulian commented on #18
The best path is probably automated regression tests against our implementations.

[2018-05-15 22:15] #18 closed, assigned to nobody

[2018-05-15 22:17] ryanjulian commented on #13
Fixed in #48

[2018-05-15 22:17] #13 closed, assigned to cjcchen

[2018-05-15 22:21] ryanjulian commented on #3
Related to #52

[2018-05-15 22:22] ryanjulian commented on #2
Perhaps better handled by #32?

[2018-05-15 22:24] ryanjulian opened #61 "Support for dynamics randomization"
https://blog.openai.com/generalizing-from-simulation/

We should probably not attempt this until #4 is done.

For now, only MuJoCo support is necessary. If MuJoCo is too burdensome, we can consider switching engines (e.g. Bullet)

Related issue https://github.com/openai/mujoco-py/issues/148 suggests this may be nontrivial.

[2018-05-15 22:32] ryanjulian commented on #36
e.g. rather than
[code]
Add package-level imports to `__init__.py` so we can do
[code]

[2018-05-15 22:34] ryanjulian commented on #36
The change should also rewrite all of the imports across the codebase to reflect the new style.

[2018-05-16 02:14] ghost commented on #43
I'm a little bit confused about the outcome of using the variable scope feature. I ran the cartpole training and obtained the following graph in TensorBoard.
![graph_cartpole](https://user-images.githubusercontent.com/35857569/40092668-59031de4-5873-11e8-81a4-2da703346915.png)
The GaussianMLPPolicy already implements variable scope for its constructor, and in this example the scope name is just po

[2018-05-16 06:32] ghost commented on #56
Closed with #60

[2018-05-16 06:32] #56 closed, assigned to nobody

[2018-05-16 17:54] eric-heiden opened #64 "Normalization for gym envs"
Now that we are using OpenAI gym directly in our RL algorithms, we still need to normalize the environment (actions, observations, rewards) as in https://github.com/ryanjulian/rllab/blob/integration/rllab/envs/normalized_env.py.

So implement `NormalizedEnv` for `gym.Env`.

[2018-05-16 19:55] ryanjulian commented on #43
Can you send me the TF graph file on Slack?

[2018-05-17 00:07] ryanjulian commented on #43
Oh I see, the difference. TF creates a new scope `policy_1` with a counter when `dist_info_sym()` is called from outside `policy` and the scope is reused.

tl;dr: no that is not what we intended.

There is a setting in TF for reusing scopes but I'm not sure that's exactly what we want (but it might be required to implement what we want).

Different scopes for different operations should be unique.

[2018-05-17 00:30] eric-heiden commented on #43
I agree with Ryan's points.
Just to clarify: we should probably add an optional `name` argument to the policy function `dist_info_sym`. This name gets appended to the policy's name, e.g. `policy/compute_kl` where "policy" is the name of the policy and "compute_kl" is the name provided to `dist_info_sym`. The generated vars should appear inside the policy's scope.

[2018-05-17 18:25] ryanjulian commented on #44
These primitives are neural nets which model gaussian distributions, where the output of an MLP determines the parameters of the distribution.

A gaussian has 2 support parameters: mean and variance (or standard deviation). There are several architectures for how an MLP determines those parameters. Some architectures are required for some algorithms to function, so there are options for which arch

[2018-05-18 01:18] zhanpenghe commented on #11
Do you want to add a whole tree to our current codebase?

[2018-05-18 21:35] eric-heiden commented on #43
It turns out to be difficult to make sure all operations on a primitive are bound to that primitive's scope without resulting in deeply nested scopes. For example, when you call `dist_info_sym` on the policy from within the `init_opt` function in `BathPolOpt`, the stack of scopes you're in when you call `dist_info_sym` gets copied inside the policy's primitive. `dist_info_sym` gets called in `Batc

[2018-05-18 21:45] ryanjulian commented on #43
There is likely some escape hatch in the TensorFlow API to escape your
enclosing scopes. I'll try to take a look for it (currently on the road).

On Fri, May 18, 2018, 2:35 PM Eric Heiden <notifications@github.com> wrote:

--
PhD Student
USC CLMC/RESL
(510) 859-3224
rjulian@usc.edu

[2018-05-18 21:59] ryanjulian commented on #43
https://www.tensorflow.org/programmers_guide/variables

Deeply nested call chains was always going to happen with this design but I
don't think it's a deal breaker.

See the form of tf.variable_scope(scope, reuse=False) at the end of this
article. Could we have each primitive store it's scope and then always pass
parent scope to the child scopes?

On Fri, May 18, 2018, 2:45 PM Ryan Julian <rjulian

[2018-05-21 21:07] ryanjulian opened #70 "init() step for the environment interface"
This is very useful for real robots. Is it supported by `gym.Env`?

[2018-05-21 23:33] jonashen commented on #1
[Pull request](https://github.com/ryanjulian/rllab/pull/71)

[2018-05-22 10:37] ghost commented on #43
@ryanjulian please review my changes in #72 to follow up this issue.

[2018-05-22 15:45] silrep2 commented on #52
@ryanjulian @eric-heiden
Should I remove entire Distributions module? Or just reimplement the Distribution API using TF.Distribution?

[2018-05-22 16:46] ryanjulian commented on #38
The logger in `rllab/misc/logger.py` saves TensorFlow summaries to our logging directory, which allows users to use TensorBoard to visualize the progress of their training.

TensorBoard also supports visualizing the "computation graph" of your TensorFlow program, as a interactive 2D block diagram. In order to do use this feature, you must save a TensorFlow `Summary` of the computation graph create

[2018-05-22 17:10] ryanjulian commented on #52
If possible, remove rllab Distributions entirely.

[2018-05-22 20:34] jonashen opened #73 "Refactor rllab to implement features using mujoco_py"
For instance, the MjViewer class now provides an interface called key_callback(), which allows subclasses to define what to do in response to keypresses. Thus, the code in embedded_viewer.py is deprecated.

[2018-05-22 23:18] ryanjulian commented on #44
Fixed in #69

[2018-05-22 23:18] #44 closed, assigned to CatherineSue

[2018-05-23 00:36] hejia-zhang opened #74 "Add initialize interface for robot"

[2018-05-23 01:14] ryanjulian commented on #36
Fixed in #66

[2018-05-23 01:14] #36 closed, assigned to nobody

[2018-05-23 01:39] ghost commented on #19
Closed with #67

[2018-05-23 01:39] #19 closed, assigned to nobody

[2018-05-23 01:47] #7 closed, assigned to hejia-zhang

[2018-05-23 01:49] hejia-zhang opened #75 "refactor contrib.ros"
Make it more clean and simple

[2018-05-23 03:00] hejia-zhang opened #76 "Extract objects manager interface for contrib.ros"
#75

[2018-05-23 06:24] hejia-zhang opened #77 "Add ros stack blocks and place blocks in bins env"

[2018-05-23 19:38] ryanjulian opened #78 "Different CPU and GPU versions of environment.yml"
This is more principled than stuffing dependency logic into shell scripts.

[2018-05-23 19:40] ryanjulian opened #79 "Refurbish the docker containers"
They have not been touched in a long time.

Tasks:
* Dependency audit
* Rebase onto current NVIDIA base containers
* Reintroduce docker build CI tests

[2018-05-23 19:45] ryanjulian opened #80 "Rewrite the logger"
The current logger interface is okay, but the implementation is a bit messy and the TensorBoard integration is kind of a bolt-on afterthought. It's also package-global which can induce bad implementation decisions.

I'd like to rewrite the logger to be properly encapsulated as a class(es). There can still be a global singleton instance for easy access.

Ideas:
* Eliminate global scope
* First-clas

[2018-05-23 19:50] ryanjulian opened #81 "Replace conda with a pip package"
conda makes it difficult to use rllab as a library.

We would like to transition to using the standard Python package interface. This will require getting all the dependencies to install using pip, plus probably a some custom setup scripts for setup.py.

Adding wheel compilation to the CI (e.g. appveyor) is also in-scope for this project.

[2018-05-23 19:56] ryanjulian opened #82 "Principled parallelism"
Right now rllab uses parallelism in an ad-hoc manner through multiprocessing library, mostly in the sampler. If we use a principled parallelism library (e.g. mpi, ray, others), we can probably clean up the code while avoiding tricky multiprocessing bugs in the future.

[2018-05-23 20:11] ryanjulian opened #83 "Move Theano into its own subtree"
Theano should no longer be first-class while tf second-class. We are aiming for major parts of rllab to be NN-framework agnostic.

This should move theano-specific components into `rllab.theano`, while stripping Theano dependencies from common parts of the code.

[2018-05-23 20:12] ryanjulian opened #84 "Move sandbox.rocky.tf to rllab.tf"
We are moving towards making the common parts of rllab agnostic of the NN library. TensorFlow should no longer be a second-class citizen.

This change would remove the TensorFlow sandbox and make the TensorFlow tree a first-class rllab citizen.

[2018-05-23 20:16] ryanjulian opened #85 "Replace rllab.envs.Env with gym.Env"
The community has settled on `gym.Env` as a de-facto standard environment interface. There's no reason to keep our own around.

The scope of this change is to remove the rllab.envs.Env base interface, and refactor implementing classes to instead implement gym.Env. Note that this explicitly does not mean that we are adopting the physics engine, registration system, benchmarks, etc of OpenAI Gym--ju

[2018-05-23 21:27] ghost opened #86 "Remove convenience imports that generate circular dependencies"
When the feature of convenience imports #36 was merged with the feature branch of variable scope #43, a circular dependency was found between packages.
This issue is to find all circular dependencies in rllab and remove them by deleting the module imports in the files __init__.py of each package that were added in #66. This also requires to bring back the corresponding long package imports.

[2018-05-23 22:57] #86 closed, assigned to nobody

[2018-05-24 14:51] CatherineSue commented on #39
The intention for this issue is to support the visualization of a tensor in a scalar. In the scalar, each line corresponds to an element in the tensor.

Tensorboard currently supports the summary operations of `tf.summary.scalar`, `tf.summary.image`, `tf.summary.audio`, `tf.summary.text`, and `tf.summary.histogram`, except for `tf.summary.tensor_summary`. But we can make a custom scalar through th

[2018-05-24 21:16] ryanjulian opened #89 "setup_linux.sh fails while installing dm_control"
It's missing an absl dependency.

[2018-05-24 21:17] ryanjulian opened #90 "setup_linux.sh fails while looking for mujoco 1.5.0 on a clean system"
This is probably related to #89, since dm_control uses mujoco 1.5.0. We may need to combine setup_mujoco.sh and setup_<platform>.sh

[2018-05-25 04:35] hejia-zhang opened #93 "Add different robots in contrib.ros, maybe some drones."

[2018-05-25 04:50] hejia-zhang opened #94 "Add the functionality to compute transformation matrix between vicon frame and robot frame in contrib.ros.util.vicon"

[2018-05-25 19:51] ryanjulian opened #95 "Add PEP8 checks to the CI"

[2018-05-25 20:06] ryanjulian opened #96 "Remove custom MuJoCo setup script"
We should get rid of this to make packaging easier, unless there's a very compelling reason why not to. `dm_control` makes it work fine.

[2018-05-25 20:23] ryanjulian commented on #93
This is very low priority.

[2018-05-25 21:42] ryanjulian commented on #43
Fixed in #72

[2018-05-25 21:42] #43 closed, assigned to nobody

[2018-05-25 21:43] ryanjulian commented on #17
Fixed in #65

[2018-05-25 21:43] #17 closed, assigned to cjcchen, zhanpenghe

[2018-05-25 22:48] ryanjulian commented on #61
Here's my proof of concept for a simple XPath-based implementation.

Immediate observations
* XPath works great. There's no need for anything more clever.
* There's an apparent 100% overhead to mutating the model in this way if you're only running it for ~1000 steps between mutations (profile to follow). It's not clear what this translates into for a real rllab run, since I'm not sure how much tim

[2018-05-25 22:56] jonashen commented on #31
I have determined that it is impossible for gym to record off-screen, because the downloaded video is built from a series of static RGB frames, and it retrieves these frames through `frame =
self.env.render(...)`, and gym's core `render` function by default must draw out the window in order to capture the RGB frame through internal screen capture.

In short, plot=False cannot produce a recorded vi

[2018-05-25 23:01] hejia-zhang opened #97 "Add adaptive task parameters support in ros.env"

[2018-05-25 23:17] ryanjulian commented on #61
# Profiler Results

The overhead is spread out between elements:
* 5s of MuJoCo loading the new model (this could get worse with larger models)
* 2.8s in NumPy (surprising!)
* 3.5s modifying/writing XML, mostly in serializing the XML to text

I speculate the that NumPy portions can probably be optimized to be negligible or removed entirely. Python's XML implementation is known to be non-optimal, a

[2018-05-25 23:34] jonashen opened #98 "'import glfw' after 'import mujoco_py' is an unnatural constraint"
Reference: https://github.com/openai/mujoco-py/blob/6ac6ac203a875ef35b1505827264cadccbfd9f05/mujoco_py/builder.py#L61

Find a way to import the mujoco-py glfw rllab-wide without needing to resort to odd import ordering constraints.

[2018-05-26 00:20] ryanjulian commented on #61
# Updated profiler results

I increased the runtime by 5x to chase out fixed overhead like imports. I was using my machine for other stuff while running these, which explains the variance in results.

Conclusions:
* `lxml` is definitely faster than Python's `xml` implementation and it's basically free to use, so we might as well.
* Increasing the runtime makes it abundantly clear that loading the

[2018-05-26 09:34] #38 closed, assigned to CatherineSue

[2018-05-28 19:24] ryanjulian opened #100 "Add lint checks to CI"
Options:
* pylint
* autopep8
* flake8
* flake8-bugbear
* pyflakes
* pycodestyle
* mypy
* pytype

See:
https://github.com/PyCQA

Important rules (running list):
* PEP8 import styling

[2018-05-29 16:53] ryanjulian commented on #31
I think it's fine to require `plot=True` to guarantee recording.

[2018-05-29 16:57] #39 closed, assigned to CatherineSue

[2018-05-29 18:08] jonashen commented on #31
When plot=False, it will still display the window as well as record. Should we leave that as well, or simply turn off window display (and thus also turn off recording)?

[2018-05-29 18:19] ryanjulian commented on #31
IMO the correct behavior is to turn off recording when `plot=False`. It should probably be an enum option rather than 2 booleans which interact, but c'est la vie.

We will have another opportunity to address this when we replace rllab.Env with gym.Env.

[2018-05-29 20:55] CatherineSue commented on #32
After testing the spaces.Product in TF, I find it works for non-alike space product. So this bug needs no fix.

[2018-05-29 20:55] #32 closed, assigned to CatherineSue

[2018-05-30 00:57] #4 closed, assigned to jonashen

[2018-05-30 16:30] silrep2 commented on #52
@ryanjulian @eric-heiden
1. Is there a [log_likelihood_sym](https://github.com/ryanjulian/rllab/blob/integration/sandbox/rocky/tf/distributions/diagonal_gaussian.py#L73) function in tensorflow [distribution](https://www.tensorflow.org/api_docs/python/tf/distributions)?
2. distribution is created by policy, then is used by [batch polopt](https://github.com/ryanjulian/rllab/blob/integration/sandbox/

[2018-05-30 17:24] ryanjulian commented on #52
1. I think it should be [tf.Distribution.log_prob](https://www.tensorflow.org/api_docs/python/tf/distributions/Distribution#log_prob). Be sure to test an example and compare outputs to verify.
1. Fixing the placeholders will probably require a larger refactor, but that's okay. The way the current code is organized for this case is pretty bad. There are two patterns which immediately come to mind t

[2018-05-30 17:47] #54 closed, assigned to cjcchen

[2018-05-30 20:31] ryanjulian opened #107 "GitHub check for commit message guidelines"

[2018-05-30 20:35] eric-heiden opened #108 "Support multi-modal policies"
In order to support visuomotor control learning and other problems, we need to implement a way to use policies that consist of submodules which handle certain input modalities, such as images and vectors. OpenAI Gym already has support for a [tuple_space](https://github.com/openai/gym/blob/master/gym/spaces/tuple_space.py) that is a tuple of different spaces. The most common use-case of such multi

[2018-05-30 20:49] CatherineSue commented on #61
Me and Angel discussed about the interface. There is one question we want to confirm:

How should we deal with the size value user set when it is incompatible with its shape?
For example, in tosser, .//geom[@name='obj'] has a `size='.05 .075'`. If a user calls `VariationList().add_variation(range=(0.5, 1.5))`, there are three ways to react:

1. raise an error
2. randomize a value according to the

[2018-05-30 23:59] jonashen opened #110 "Drawing window with glfw throws segmentation fault"

[2018-05-31 00:08] ryanjulian commented on #110
* Host platform and configuration
* Steps to reproduce
* Workarounds

[2018-05-31 00:23] jonashen commented on #110
It has to do with the incomplete/buggy implementation of asynchronous rollout plotting in Theano's batch_polopt. I'm going to revert the code to synchronous plotting because it works and won't break the integration branch.

[2018-05-31 00:47] jonashen opened #111 "Asynchronous plotting for Theano"
Issues are equivalent to TensorFlow. See #1.

[2018-05-31 04:21] #110 closed, assigned to jonashen

[2018-05-31 23:35] jonashen opened #117 "Permanent fix for 'GLEW initalization error: Missing GL version' on Linux machines"
Right now the temporary solution to this issue is prepend `python examples/xxx.py` with `LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libGLEW.so:/usr/lib/nvidia-384/libGL.so`; note that you must replace `nvidia-384` to the one installed on your machine (use `nvidia-smi` to determine the driver version currently in use). Relevant comments are [here](https://github.com/deepmind/dm_control/issues/3#issuecomm

[2018-06-03 05:28] zhanpenghe commented on #35
For dm_control, are you talking about the effect of upgrading mujoco or the effect or adding dm_control to the repository?

[2018-06-04 19:38] CatherineSue commented on #100
I find most python imports tools support alphabetical order only with import statements before from X import ... statements.

Flake8-import-order is the only tool I find that supports the alphabetical order we are using, which ignores 'from' or 'import' or 'as', like [google](https://google.github.io/styleguide/pyguide.html?showone=Imports_formatting#Imports_formatting). But flake8-import-order on

[2018-06-05 03:00] eric-heiden opened #123 "Add tf GPU options"
It should be possible to set the TensorFlow session options whenever a `tf.Session` is created for _training_, such as [here](https://github.com/ryanjulian/rllab/blob/integration/sandbox/rocky/tf/algos/batch_polopt.py#L104) (other places where a session is constructed might not need to use these options).  It is sometimes necessary to limit the available memory to tf running on a GPU, etc.
A possi

[2018-06-05 17:10] silrep2 commented on #52
Hi @ryanjulian

I write some test code to verify my idea but find some problems.
1. As you recommended, I create two [distributions](https://github.com/ryanjulian/rllab/compare/integration...ryanjulian:clean_dist#diff-0df22bba0bd6fd4bc9487c3e04245362R140) inside policy and expose their placeholder.
Then I try to replace the `old_dist_info_vars` and `dist_info_vars` with my new distributions.
It se

[2018-06-06 06:58] silrep2 commented on #52
@ryanjulian
Please ignore last comment, I already solved it.
Now my solution is: create two distributions in `policy`. if it's old distribution, create placeholders for it. if it's new distribution, use the existing placeholder which is from a [layer output](https://github.com/ryanjulian/rllab/blob/integration/rllab/policies/gaussian_mlp_policy.py#L122). all changes are [here ](https://github.com/

[2018-06-06 21:12] jonashen commented on #111
@ryanjulian I discovered quite an interesting bug. When I implement async plotting using multiprocessing, Ubuntu works with no issue but Mac OSX will throw a glfw-related segmentation fault. However, when I switch to multithreading, Mac OSX works with no issue but Ubuntu takes forever to load the window, if at all (the likely culprit being Python's GIL). I'll implement both by first checking which

[2018-06-06 21:39] jonashen commented on #111
[PR](https://github.com/ryanjulian/rllab/pull/124)

[2018-06-07 00:12] jonashen commented on #1
Pull request [here](https://github.com/ryanjulian/rllab/pull/126)

[2018-06-07 00:21] jonashen opened #127 "Asynchronous TensorFlow plotting doesn't work on Mac OSX"
Asynchronous plotting for TensorFlow works perfectly fine on Linux using `threading.Thread`, but Mac OS X will not display a window, even if `threading.Thread` is switched to `multiprocessing.Process`, which is how it was implemented using Theano.

[2018-06-07 00:23] jonashen commented on #64
PR [here](https://github.com/ryanjulian/rllab/pull/125)

[2018-06-07 17:45] #93 closed, assigned to nobody

[2018-06-07 17:48] ryanjulian commented on #111
Great debugging. SGTM

[2018-06-07 18:06] zhanpenghe opened #128 "Use rllab mujoco directory for mujoco-py"
After upgraded to mujoco-py and mj150, the setup_mujoco.sh, which copy the mj files to vendors, lacks the set up of environment variable LD_LIBRARY_PATH. Users will have to follow the mujoco-py instructions to setup the mujoco-py properly and the vendor folder is not useful.

The goal is to use the vendor folder for rllab instead of ~/.mujoco/mj150/bin .

[2018-06-07 18:11] ryanjulian commented on #128
I think this is a step backward not a step forward. Vendoring our dependencies works in a monolithic repo, but not a `pip` package. The custom mujoco setup script is also a crutch and makes setup more complicated. Eventually this all needs to work unattended, and the only way we can guarantee that is assuming that the user uses the standard mujoco setup folder in `.mujoco`

The switch to using the

[2018-06-07 18:26] zhanpenghe commented on #128
I agree. This issue was originally opened to conform to the previous setup. I think setting the LD_LIBRARY_PATH with python could be a good fix. In this case, we could also cleanup the setup_mujoco.sh.

[2018-06-07 20:39] #111 closed, assigned to jonashen

[2018-06-10 18:57] zhanpenghe opened #131 "Cleanup normalized env"
Normalized env of gym env is done at #125, but the refactoring of gym env is not done yet(#129). Please refactor for normalized_gym_env.py of our codebase.

[2018-06-11 05:01] ryanjulian commented on #131
See https://github.com/rlworkgroup/garage/issues/2

[2018-06-11 05:01] #131 closed, assigned to nobody

[2018-06-11 05:01] #128 closed, assigned to nobody

[2018-06-11 05:02] ryanjulian commented on #127
See https://github.com/rlworkgroup/garage/issues/3

[2018-06-11 05:02] #127 closed, assigned to nobody

[2018-06-11 05:03] ryanjulian commented on #123
See https://github.com/rlworkgroup/garage/issues/4

[2018-06-11 05:03] #123 closed, assigned to nobody

[2018-06-11 05:04] ryanjulian commented on #117
See https://github.com/rlworkgroup/garage/issues/5

[2018-06-11 05:04] #117 closed, assigned to nobody

[2018-06-11 05:05] ryanjulian commented on #108
See https://github.com/rlworkgroup/garage/issues/6

[2018-06-11 05:05] #108 closed, assigned to nobody

[2018-06-11 05:06] ryanjulian commented on #107
See https://github.com/rlworkgroup/garage/issues/7

[2018-06-11 05:06] #107 closed, assigned to nobody

[2018-06-11 05:07] ryanjulian commented on #100
See https://github.com/rlworkgroup/garage/issues/8

[2018-06-11 05:07] #100 closed, assigned to nobody

[2018-06-11 05:08] ryanjulian commented on #95
See https://github.com/rlworkgroup/garage/issues/9

[2018-06-11 05:08] #95 closed, assigned to nobody

[2018-06-11 05:10] ryanjulian commented on #98
See https://github.com/rlworkgroup/garage/issues/10

[2018-06-11 05:10] #98 closed, assigned to nobody

[2018-06-11 05:11] ryanjulian commented on #34
See https://github.com/rlworkgroup/garage/issues/11

[2018-06-11 05:11] #34 closed, assigned to nobody

[2018-06-11 05:12] ryanjulian commented on #85
See https://github.com/rlworkgroup/garage/issues/12

[2018-06-11 05:13] #85 closed, assigned to jonashen

[2018-06-11 05:14] ryanjulian commented on #64
See https://github.com/rlworkgroup/garage/issues/13

[2018-06-11 05:14] #64 closed, assigned to jonashen

[2018-06-11 05:14] ryanjulian commented on #61
See https://github.com/rlworkgroup/garage/issues/14

[2018-06-11 05:14] #61 closed, assigned to CatherineSue

[2018-06-11 05:16] ryanjulian commented on #52
See https://github.com/rlworkgroup/garage/issues/15

[2018-06-11 05:16] #52 closed, assigned to silrep2

[2018-06-11 05:16] ryanjulian commented on #52
@silrep2 can you show me what you mean with a pull request?

[2018-06-11 05:17] ryanjulian commented on #50
See https://github.com/rlworkgroup/garage/issues/16

[2018-06-11 05:17] #50 closed, assigned to hejia-zhang

[2018-06-11 05:18] ryanjulian commented on #35
It should test that we can load/exercise a DmControlEnv

[2018-06-11 05:18] ryanjulian commented on #35
See https://github.com/rlworkgroup/garage/issues/17

[2018-06-11 05:18] #35 closed, assigned to nobody

[2018-06-11 05:19] ryanjulian commented on #26
See https://github.com/rlworkgroup/garage/issues/18

[2018-06-11 05:19] #26 closed, assigned to CatherineSue

[2018-06-11 05:19] ryanjulian commented on #11
This is sufficiently done. We're going to make rlkit the start of the PyTorch tree.

[2018-06-11 05:19] #11 closed, assigned to zhanpenghe

[2018-06-11 05:21] ryanjulian commented on #8
See https://github.com/rlworkgroup/garage/issues/20

[2018-06-11 05:21] #8 closed, assigned to hejia-zhang

[2018-06-11 05:22] ryanjulian commented on #1
See https://github.com/rlworkgroup/garage/issues/22

[2018-06-11 05:22] #1 closed

[2018-06-11 05:23] ryanjulian commented on #97
See https://github.com/rlworkgroup/garage/issues/23

[2018-06-11 05:23] #97 closed, assigned to nobody

[2018-06-11 05:24] ryanjulian commented on #96
See https://github.com/rlworkgroup/garage/issues/24

[2018-06-11 05:24] #96 closed, assigned to nobody

[2018-06-11 05:25] ryanjulian commented on #94
See https://github.com/rlworkgroup/garage/issues/25

[2018-06-11 05:25] #94 closed, assigned to nobody

[2018-06-11 05:26] ryanjulian commented on #90
See https://github.com/rlworkgroup/garage/issues/26

[2018-06-11 05:26] #90 closed, assigned to nobody

[2018-06-11 05:26] ryanjulian commented on #89
See https://github.com/rlworkgroup/garage/issues/27

[2018-06-11 05:26] #89 closed, assigned to nobody

[2018-06-11 05:28] ryanjulian commented on #84
See https://github.com/rlworkgroup/garage/issues/28

[2018-06-11 05:28] #84 closed, assigned to jonashen

[2018-06-11 05:29] ryanjulian commented on #83
See https://github.com/rlworkgroup/garage/issues/29

[2018-06-11 05:29] #83 closed, assigned to nobody

[2018-06-11 05:30] ryanjulian commented on #82
See https://github.com/rlworkgroup/garage/issues/31

[2018-06-11 05:30] #82 closed, assigned to nobody

[2018-06-11 05:31] ryanjulian commented on #81
See https://github.com/rlworkgroup/garage/issues/32

[2018-06-11 05:31] #81 closed, assigned to nobody

[2018-06-11 05:31] ryanjulian commented on #80
See https://github.com/rlworkgroup/garage/issues/33

[2018-06-11 05:31] #80 closed, assigned to nobody

[2018-06-11 05:32] ryanjulian commented on #79
See https://github.com/rlworkgroup/garage/issues/34

[2018-06-11 05:32] #79 closed, assigned to nobody

[2018-06-11 05:33] ryanjulian commented on #78
See https://github.com/rlworkgroup/garage/issues/35

[2018-06-11 05:33] #78 closed, assigned to nobody

[2018-06-11 05:33] ryanjulian commented on #77
See https://github.com/rlworkgroup/garage/issues/36

[2018-06-11 05:33] #77 closed, assigned to nobody

[2018-06-11 05:34] ryanjulian commented on #76
See https://github.com/rlworkgroup/garage/issues/37

[2018-06-11 05:34] #76 closed, assigned to nobody

[2018-06-11 05:35] ryanjulian commented on #75
See https://github.com/rlworkgroup/garage/issues/38

[2018-06-11 05:35] #75 closed, assigned to nobody

[2018-06-11 05:36] ryanjulian commented on #74
See https://github.com/rlworkgroup/garage/issues/39

[2018-06-11 05:36] #74 closed, assigned to nobody

[2018-06-11 05:37] ryanjulian commented on #73
See https://github.com/rlworkgroup/garage/issues/40

[2018-06-11 05:37] #73 closed, assigned to nobody

[2018-06-11 05:37] ryanjulian commented on #70
See https://github.com/rlworkgroup/garage/issues/41

[2018-06-11 05:37] #70 closed, assigned to nobody

[2018-06-11 05:38] ryanjulian commented on #42
See https://github.com/rlworkgroup/garage/issues/42

[2018-06-11 05:38] #42 closed, assigned to nobody

[2018-06-11 05:39] ryanjulian commented on #31
See https://github.com/rlworkgroup/garage/issues/43

[2018-06-11 05:39] #31 closed, assigned to nobody

[2018-06-11 05:39] ryanjulian commented on #15
See https://github.com/rlworkgroup/garage/issues/44

[2018-06-11 05:39] #15 closed, assigned to nobody

[2018-06-11 05:40] ryanjulian commented on #6
See https://github.com/rlworkgroup/garage/issues/45

[2018-06-11 05:40] #6 closed, assigned to nobody

[2018-06-11 05:41] ryanjulian commented on #5
See https://github.com/rlworkgroup/garage/issues/46

[2018-06-11 05:41] #5 closed, assigned to nobody

[2018-06-11 05:42] ryanjulian commented on #3
See https://github.com/rlworkgroup/garage/issues/47

[2018-06-11 05:42] #3 closed, assigned to nobody

[2018-06-11 05:42] ryanjulian commented on #2
See https://github.com/rlworkgroup/garage/issues/48

[2018-06-11 05:42] #2 closed